<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h2 class="section-heading text-uppercase">Artigos recentes p0</h2>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Post 2</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="#/post2" class="btn btn-primary">Ver Agora &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2020 by
                    <a href>Alexandre</a>
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Post 1</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="#/post1" class="btn btn-primary">Ver Agora &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2020 by
                    <a href>Alexandre</a>
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Post 0</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a href="#/post0" class="btn btn-primary">Ver Agora &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2020 by
                    <a href>Alexandre</a>
                </div>
            </div>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">

                    <a class="page-link" href="#/artigosRecentes1">&larr; Mais Novos</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Mais antigos &rarr;</a>
                </li>
            </ul>

        </div>


        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <a href="/app/views/categoriasBaner/baner.html"></a>
            <!-- Categories Widget -->
            <section id="categorias">

                aqui
            </section>
            <script>
                $("#categorias").load("/app/views/categoriasBaner/Categoria.html");
            </script>

            <!-- Side Widget -->
            <section id="baner">
                aqui

            </section>
            <script>
                $("#baner").load("/app/views/categoriasBaner/baner.html");
            </script>

        </div>

    </div>

</div>